.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  background-color: #fff;
}
.text {
  font-size: 3rem;
  color: #0072c6;
  font-family: "Roboto Slab", serif;
}
.text span {
  color: #f7941e;
}
