body {
  width: 100svw;
  height: 100svh;
  margin: 0px;
  padding: 0px;
}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid blue;
  background-color: #fff;
  box-sizing: border-box;
}
.text {
  font-size: 3rem;
  color: #0072c6;
  font-family: "Roboto Slab", serif;
}
.text span {
  color: #f7941e;
}
